<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <style>
    :root {
        --black: rgb(0,0,0);
        --blue: rgb(21, 0, 80);
        --purple: rgb(100, 61, 136);
        --gray: rgb(92, 92, 95);
        --glow-color: rgb(217, 176, 255);
        --glow-spread-color: rgba(191, 123, 255, 0.781);
        --enhanced-glow-color: rgb(231, 206, 255);
    }

    ::-moz-selection {
        background: var(--purple);
        color: var(--glow-color);
    }

    ::selection {
        background: var(--purple);
        color: var(--glow-color);
    }

    ::placeholder {
        color: var(--glow-color);
    }
    
    body {
        margin: 0;
        padding: 0;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: var(--black);
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }

    .allpage {
        display: inline-flex;
        margin: 0;
        padding: 0;
    }

    .page {
        margin: 0;
        padding: 0;
    }

    .App, .API {
        text-align: center;
        overflow-x: hidden;
    }

    .App {
        background-color: var(--black);
    }

    .API {
        display: flex;
        background-color: var(--purple);
    }

    h1, h2 {
        font-weight: 1000;
    }

    h1 {
        color: var(--purple);
        font-size: 4em;
    }

    h2 {
        color: var(--gray);
        font-size: 2em;
    }

    p, a {
        text-decoration: none;
        color: var(--glow-color);
        transition: all.3s;
    }

    @media only screen and (min-width: 1250px) {

        @keyframes smooth {
            20% {
            transform: scale(1.01);
            }

            60% {
            transform: scale(0.98);
            }

            100% {
            transform: scale(1);
            }
        }

        .page {
            display: flex;
        }

        .App, .API {
            height: 100vh;
            width: 50vw;
            overflow-y: scroll;
        }

        .App {
            overflow: hidden;
            position: relative;
        }

        .API {
            z-index: 2;
        }

        input:focus {
            animation: smooth .7s;
            box-shadow: 0 0 .9em var(--glow-color);
        }

        .airplane {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 30vh;
            width: auto;
            z-index: 1;
            transform: rotateY(180deg);
            filter: drop-shadow(33px 77px 9px var(--glow-color));
        }

    }

    @media only screen and (max-width: 1249px) {

        .App, .API {
            height: auto;
            min-height: 50vh;
            width: 100vw;
        }

        .airplane {
            display: none;
        }

    }

    .code {
        margin: 1vh;
        padding: 0;
        width: calc(100% - 2vh);
        height: calc(100% - 2vh);
    }

    .button {
        margin: 9%;
        border: .17em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-size: 1.1em;
        font-weight: bold;
        background-color: var(--purple);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .17em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .17em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all.3s;
    }

    .button::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    }

    .button:hover {
        cursor: pointer;
        box-shadow: 0 0 1em .17em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .17em var(--glow-color);
    }

    .button:active {
        box-shadow: 0 0 0.6em .17em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .17em var(--glow-color);
    }

    .form_button {
        border: .17em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-weight: bold;
        width: 95%;
        background-color: var(--purple);
        border-radius: 1em;
        transition: all.3s;
    }

    button:hover {
        cursor: pointer;
        color: var(--purple);
        background-color: var(--glow-color);
    }

    input {
        width: 90%;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        height: 2em;
        padding: 2%;
        border-radius: 10px;
        background-color: transparent;
        color: var(--glow-color);
        box-shadow: 0 0 .2em var(--glow-color);
        outline: none;
        border: none;
        transition: all.4s;
    }

    .inputs {
        display: flex;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .inputs input {
        width: 45%;
        margin: 1%;
        margin-left: auto;
        margin-right: auto;
    }

    .space {
        height: 50px;
    }

    form p {
        margin-left: 5%;
        text-align: left;
    }

    input[type=number] {
        appearance: textfield;
    }

    #data {
        min-height: 50vh;
        margin: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        border-radius: 10px;
        box-shadow: 0 0 .2em var(--glow-color);
    }
  </style>
  <body>
    <script>
        function cc() {
            var dep = document.getElementById('dep').value;
            var arr = document.getElementById('arr').value;
            var mydate = document.getElementById('mydate').value;
            var oneway = document.getElementById('oneway').value;
            if(dep==null || arr==null) {
                alert("Please fill the inputs");
            }
            else {
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/send");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify({ dep: dep, arr: arr }));
                xhr.onload = function() {
                    console.log("Requête envoyée sans erreur\nDepart:", dep, "\nArrivee:", arr);
                }
                const xhr2 = new XMLHttpRequest();
                xhr2.open("POST", "/send2");
                xhr2.setRequestHeader("Content-Type", "application/json");
                xhr2.send(JSON.stringify({ dep: dep, arr: arr, mydate: mydate, oneway: oneway }));
                xhr2.onload = function() {
                    console.log("Requête envoyée sans erreur\nDepart:", dep, "\nArrivee:", arr, "\nDate:", mydate, "\nOne Way? ", oneway);
                }
            }
            
        }
    </script>
    <div class="page">
        <div class="App">
          <h1><%= title %></h1>
          <h2>Get flights informations from Amadeus API</h2>
          <a href="mailto:redsylop@gmail.com"><button class="button">Contact me</button></a>
        </div>
        <img src="https://sunilgoulamhous.esilv.olfsoftware.fr/td9/snyair_pic.png" alt="airplane" class="airplane"></img>
        <div class="API">
          <div class="code">
            <p>Write your own SQL expression</p>
            <input placeholder="Write your SQL request (example : SELECT altitude FROM plane WHERE speed > 900)"></input>
            <p>Or sort by</p>
            <div class="inputs">
              <input placeholder="Departure IATA Code" id="dep"></input>
              <input placeholder="Arrival IATA Code" id="arr"></input>
            </div>
            <div class="inputs">
              <input placeholder="Date (ex : 2022-12-25)" id="mydate"></input>
              <input placeholder="One Way ?(frue or false)" id="oneway"></input>
            </div>
            <div class="space"></div>
            <button class="form_button" id="send" onclick="cc()">Get flight details</button>
            <div id="data"></div>
          </div>
        </div>
      </div>
  </body>
</html>